@charset "utf-8";

/* body > div {
  background-color: aquamarine;
  display: block;
  width: 100px;
  height: 100px;
} */

.sec01 {
  background-color: aquamarine;
  display: block;
  width: 100px;
  height: 100px;
}