@charset "utf-8";

body {
  margin: 0 0 0 0;
}

ol, ul {
  list-style: lower-roman;
}

ul {
  list-style-type: '✨';
  padding: 40px;
}

ul.pseudo-element {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

ul.pseudo-element li {
  position: relative;

}

ul > li::marker {
  display: block;
  font-size: 2rem;
}

li {
  padding: 5px;
}