@charset "utf-8";

/* 빨래빙 PC views */

/* Gothic A1 google font */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* * {
  outline: 2px solid darkblue;
} */

/* or :root { */
html {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: bisque;
}

body > h1 {
  text-align: center;
}

/* inner style set up */
.inner {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
}

/* footer style set up */
.footer {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid #da6b2b;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer:hover {
  display: flex;
  width: 150px;
  height: 150px;
  border: 1px solid #4f19e2;
}

.footer > a:link {
  color: #000000;
}

.footer > a:hover {
  color: #6b6b6b;
}

.footer > a:active {
  color: #dd8888;
}

.footer > a:visited {
  color: #4b5d79;
}


.boxLink {
  margin: 0 auto;
}

.boxLink > div > img {
  width: 10%;
}

.boxLink > div > img:hover {
  width: 50%;
}

/* apple link text styling */
.apple:link {
  color: pink;
}

.apple:hover {
  color: rgb(255, 142, 161);
}

.apple:active {
  color: rgb(255, 121, 143);
}

.apple:visited {
  color: cornflowerblue;
}