@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: wheat;
}

div a {
  margin: 20px 0 0 20px;
}

div a:hover {
  color: pink;
}

div a:active {
  color: cadetblue;
}

div a:visited {
  color: blue;
}